@charset "utf-8";
/* CSS Document */
.navbar-b{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
}
.search{
	width: 500px;
	height: 45px;
	background-color: white;
	border-radius: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.search input{
	width: 440px;
	border: none;
	outline: none;
	height: 40px;
}
.wishlist{
	display: flex;
	background: white;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10px;
	border-radius: 3px;
	width: 80px;
	font-size: 18px;
}
.wishlist p{
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #bab86c;
	color: white;
}
section{
	margin-top: 30px;
}
.container{
	border: 2px black;
	background: #fffdd0;
	width: 50%;
	border-radius: 25px;
	box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.container .act1 img{
	width: 40%;
	height: 50%;
	margin-left: 150px;
	border-radius: 10px;
}
.container .act1 h4{
	color: brown;
	font-weight: 300;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-left: 200px;
}
.container .act1 p{
	align-items: center;
	justify-content: center;
}





















